In [56]:
import numpy as np
import random

In [57]:

number = random.randint(1, 155) 
s3 = f'''Hello, Ilya!
Your number is {number}.
Have a nice day!'''
sep_list = s3.split('\n')
print(' // '.join(sep_list))

Hello, Ilya! // Your number is 4. // Have a nice day!

In [58]:
book1, book2 = 'my book', 'your book'
books = ['all books']

books.append(book1)
books.append(book2)


o_count = 0

for word in books:
    for letter in word:
        if letter == 'o':
            o_count += 1
        else:
            pass

display(o_count)

7

In [59]:
a = 'Hello, world!'
huist = []

for letter in a:
    huist.append (letter)

huist

['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [60]:
a = list(range(1, 101))
print(a.__sizeof__())

b = tuple(range(1, 101))
print(b.__sizeof__())

c = [255]
tpl2 = tuple(c)
tpl2

840
824

(255,)

In [64]:
phones = {'+79033923029': 'Ivan Ivanov', '+78125849204': 'Kirill Smirnov', 
          '+79053049385': 'Mark Parkhomenko', '+79265748370': 'Ekaterina Dmitrieva', '+79030598495': 'Ruslan Belyi'}

phones.keys()

dict_keys(['+79033923029', '+78125849204', '+79053049385', '+79265748370', '+79030598495'])

In [109]:
friends = {"Kolya": 180, "Marina": 176, "Misha": 158, "Dima": 201, "Yana": 183, "Nina": 156}

try:
    display(friends.get('matvey', 500))
except KeyError:
    display(friends.get('Irina', 100))
    
friends.update({'Stas': 178, 'Ilya': 198})
friends.update({'Kolya': 162})
display(friends)

best_friend_height = friends.pop('Kolya')
display(best_friend_height)

friends.setdefault('Alena', 174)
friends.setdefault('Misha', 162)
friends.update({'Misha': 162})
friends

500

{'Kolya': 162,
 'Marina': 176,
 'Misha': 158,
 'Dima': 201,
 'Yana': 183,
 'Nina': 156,
 'Stas': 178,
 'Ilya': 198}

162

{'Marina': 176,
 'Misha': 162,
 'Dima': 201,
 'Yana': 183,
 'Nina': 156,
 'Stas': 178,
 'Ilya': 198,
 'Alena': 174}

In [127]:
hello = set('hello')
display(hello)
display(type(hello))

t1 = 'wow thats cool'
t1 = set(t1)
t1.update({1, 2, (3, 4, 5, 'shit')})

ww = 2

try:
    t1.remove(3)
    display(t1)
except KeyError:
    t1.discard(3)
    display(t1)

{'e', 'h', 'l', 'o'}

set

{' ', (3, 4, 5, 'shit'), 1, 2, 'a', 'c', 'h', 'l', 'o', 's', 't', 'w'}

In [133]:
cluster1 = {"item1", "item2", "item3", "item4"}
cluster2 = {"item2", "item3", "item5", "item7"}

cluster3 = cluster1.union(cluster2)
display(cluster3)

cluster4 = cluster1.intersection(cluster2)
display(cluster4)

cluster5 = cluster1.difference(cluster2)
display(cluster5)

display(cluster1.issubset(cluster3))

{'item1', 'item2', 'item3', 'item4', 'item5', 'item7'}

{'item2', 'item3'}

{'item1', 'item4'}

True

In [141]:
str1 = 'I am'
int1 = 24
str2 = str(int1)
str3 = 'years old'

print(str1 , str2 , str3)

my_date = "1990.0"
int(float(my_date))

I am 24 years old

1990

In [166]:
dictionary = {"Anne": 15, "Sam": 30, "Marie": 22}
only_keys = dictionary.keys()
only_keys = list(only_keys)

new_keys = only_keys.copy()
new_keys.append('Ilya')
new_keys.insert(-1, 'Tanya')
display(new_keys)

['Anne', 'Sam', 'Marie', 'Tanya', 'Ilya']

In [170]:
'cat' * 3

'catcatcat'

In [172]:
s = 'A string with white space'
s.replace(' ', '')

'Astringwithwhitespace'

In [175]:
d = {
    1: '1',
    '2': 2,
    3: '3',
}

print(d.items())

def get_key(d, value):
    for k, v in d.items():
        if v == value:
            return k
print(get_key(d, '1'))
print(get_key(d, 2))
print(get_key(d, 42))

dict_items([(1, '1'), ('2', 2), (3, '3')])
1
2
None

In [178]:
print(ord('A'))

ord('A') == 65

65

True

In [188]:
target_string = ["шалаш", "казак", "мадам", "коту тащат уток"]
target_string.reverse()
print(target_string)

['коту тащат уток', 'мадам', 'казак', 'шалаш']

In [198]:
target_string = 'Казак'
target_string.lower()
''.join(target_string.split(' '))
result = target_string == target_string[::-1]
print(result, target_string)

True казак

In [2]:
not  not True

True

In [7]:
orders = {
    '2022-10-10': ['F124', 'D89D', '142L'],
    '2022-10-11': ['H241', 'OR24', 'BE14', '348F'],
    '2022-10-12': ['H429', 'JAS2']
}

'H429' in orders['2022-10-12'] or \
'H429' in orders['2022-10-11'] or \
'H429' in orders['2022-10-10']

True

In [11]:
x, y = 'F', 9 
move_is_correct = x in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'] and y in list(range(1, 9))
move_is_correct

False

In [18]:
N = 45901
first_is_even = int(str(N)[0]) % 2 == 0
first_is_even

True

In [22]:
year = 2100
year_is_leap = (year % 400 == 0) or \
((year % 4 == 0) and (year % 100 != 0)) 
year_is_leap

False

In [23]:
lst = ['C++', 'Python', 'Java']
append_result = lst.append('JavaScript')
print(lst)
## ['C++', 'Python', 'Java', 'JavaScript']
print(append_result)
## None

['C++', 'Python', 'Java', 'JavaScript']
None

In [28]:
arrival_of_goods = {
    '148902': {
        'Футболка с принтом': 180,
        'Свитшот черный': 245,
        'Джинсы серые': 252
    },
    '893516': {
        'Футболка с принтом': 43,
        'Свитшот черный': 64,
        'Джинсы черные': 102
    },
    '893481': {
        'Кружка керамическая': 35,
        'Свитшот черный': 10,
        'Джинсы сервые': 14
    }
}

invoice_number = '148902'
invoice_exists = arrival_of_goods.get(invoice_number) is not None
invoice_exists

True