In [191]:
import pandas as pd
import numpy as np

In [210]:
test = pd.read_excel('data/входящие.xlsx')
test['Наименование компании'].nunique()

188

In [193]:
test = test.fillna(method='ffill')
test.head()

,Unnamed: 0,Наименование компании,Дата обращения,Тематика,Контактное лицо
0,1.,"""Вило Рус""",2023-01-09 00:00:00,Импорт,Светлана Крылова
1,1.,"""Вило Рус""",2023-01-09 00:00:00,Импорт,Тел.: +7 (496) 514-61-10
2,1.,"""Вило Рус""",2023-01-09 00:00:00,Импорт,E-mail: wilo@wilo.ru
3,2.,ООО Пегаси Рус,2023-01-09 00:00:00,Импорт,Александр Гуляев
4,2.,ООО Пегаси Рус,2023-01-09 00:00:00,Импорт,Тел.: +7 909 915-50-72 (Вотсап)

In [194]:
display(test['Контактное лицо'])
test.to_excel(excel_writer='write.xlsx')

0                     Светлана Крылова
1             Тел.: +7 (496) 514-61-10
2                 E-mail: wilo@wilo.ru
3                     Александр Гуляев
4      Тел.: +7 909 915-50-72 (Вотсап)
                    ...
632          Тел.:  +7 (905) 254-19-06
633            E-mail: muravev@gaga.ru
634                    Елена Поглазова
635           Тел.:  +7(8332) 21-24-30
636               E-mail: vcpe@mail.ru
Name: Контактное лицо, Length: 637, dtype: object

In [211]:
df = pd.read_excel('data/входящие.xlsx')

df = df.fillna(method='ffill')

df_mail = df[df['Контактное лицо'].str.contains('E-mail') == True]
df_tel = df[df['Контактное лицо'].str.contains('Тел.') == True]
df_name = df[df['Контактное лицо'].str.contains('Тел.' or 'E-mail')==False]
df_final = df.merge(df_mail[['Наименование компании', 'Контактное лицо']], on = 'Наименование компании', how='left')
df_final = df_final.merge(df_tel[['Наименование компании', 'Контактное лицо']], on = 'Наименование компании', how='left')
df_final = df_final.merge(df_name[['Наименование компании', 'Контактное лицо']], on = 'Наименование компании', how='left')

df_final = df_final.drop_duplicates(subset='Наименование компании')
df_final.to_excel(excel_writer='new.xlsx')

C:\Users\qwert\AppData\Local\Temp\ipykernel_9368\942373957.py:8: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Контактное лицо_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_final = df_final.merge(df_name[['Наименование компании', 'Контактное лицо']], on = 'Наименование компании', how='left')

In [214]:
df_final = df_final.drop_duplicates(subset='Наименование компании')
display(df_final.shape)
df_final.to_excel(excel_writer='new.xlsx')

(188, 8)

In [ ]:
df = pd.read_excel('data/входящие.xlsx')
df = df.fillna(method='ffill')
df['Контактное лицо'] = df['Контактное лицо'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             637 non-null    object
 1   Наименование компании  637 non-null    object
 2   Дата обращения         637 non-null    object
 3   Тематика               637 non-null    object
 4   Контактное лицо        637 non-null    object
dtypes: object(5)
memory usage: 25.0+ KB