In [39]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep = ',', decimal = '.')
melb_data.head(3)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"

In [40]:
# 2.4

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['population'] *= 1000000
countries_df['density'] = countries_df['population'] / countries_df['square']
density_mean = countries_df['density'].mean()
round(density_mean, 2)
countries_df[['country', 'density']]

     country     density
0     Англия  421.976671
1     Канада    3.810842
2        США   32.796595
3     Россия    8.539467
4    Украина   75.377550
5   Беларусь   45.761079
6  Казахстан    6.253436

In [41]:
# 3.3

melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['WeekdaySale'] = melb_df['Date'].dt.day_of_week
melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)]['WeekdaySale'].count()

12822

In [42]:
# 3.4

ufo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
ufo['Time'] = pd.to_datetime(ufo['Time'], dayfirst = True)
ufo['Time'].dt.year.mode()

0    1999
Name: Time, dtype: int64

In [43]:
# 3.5

ufo['Date'] = ufo['Time'].dt.date
diff_date = ufo[ufo['State'] == 'NV']['Date'].diff()
in_days = diff_date.dt.days
round(in_days.mean())

69

In [44]:
# 4.2

melb_df['WeekdaySale'] = pd.to_datetime(melb_df['Date'], yearfirst=True)
melb_df['WeekdaySale'] = melb_df['WeekdaySale'].dt.day_of_week
melb_df['WeekdaySale'].unique()

get_weekend = lambda weekday: 1 if weekday == 5 or weekday == 6 else 0
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
round(melb_df[melb_df['Weekend'] == 1]['Price'].mean())

1081199

In [45]:
# Повторение

def clear_address(address):
    fail_list = ['N', 'W', 'S', 'E']
    address = address.split(' ')
    if address[-1] in fail_list:
        return address[-2]
    else:
        return address[-1]

melb_df['StreetType'] = melb_df['Address'].apply(clear_address)

def elim_str(address):
    small_list = []
    for a in melb_df['StreetType'].unique():
        if len(a) <= 3:
            small_list.append(a)
    for sub in small_list:
        if set(sub).issubset(set(address)):
            return sub
    return address

melb_df['StreetType'] = melb_df['StreetType'].apply(elim_str)
melb_df['StreetType'].unique()

array(['St', 'La', 'Rd', 'Gr', 'Ct', 'Dr', 'Pde', 'Pl', 'Hwy', 'Tce',
       'Bvd', 'Cl', 'Athol', 'Av', 'Righi', 'Esp', 'Cir', 'Cr', 'Sq',
       'Res', 'Cove', 'Mews', 'Qy', 'Glade', 'Nook', 'Gdns', 'Victoria',
       'Fairway', 'Loop', 'East', 'Dell', 'Eyrie', 'Wy', 'Hts', 'Outlook',
       'Woodland'], dtype=object)

In [46]:
# Повторение

popular_stypes = melb_df['StreetType'].value_counts().nlargest(10).index
melb_df['StreetType'] = melb_df['StreetType'].apply(lambda x: x if x in popular_stypes else 'other')
melb_df['StreetType'].unique()

array(['St', 'other', 'Rd', 'Gr', 'Ct', 'Dr', 'Pde', 'Pl', 'Cl', 'Av',
       'Cr'], dtype=object)

In [47]:
# 4.3

top_sellers = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in top_sellers else 'other')
result = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min() / melb_df[melb_df['SellerG'] == 'other']['Price'].min()
round(result, 1)

1.3

In [48]:
# 4.4

test_series_1 = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
])

def get_experience(arg):
    year_list = ['лет', 'года', 'год']
    month_list = ['месяц', 'месяцев', 'месяца']
    year_fin = 0
    month_fin = 0
    string = arg.split(' ')
    for year in year_list:
        if year in string:
            year_index = string.index(year)
            year_string = string[0:year_index]
            year_fin = int(year_string[-1])
    for month in month_list:
        if month in string:
            month_index = string.index(month)
            string = string[0:month_index]
            month_fin = int(string[-1])
    result =  month_fin + year_fin * 12
    return result

 

print(test_series_1.apply(get_experience))

0    99
1    41
2    21
3     3
4    72
dtype: int64

In [49]:
# 5.2
display(melb_df.info())
top = list(melb_df['Suburb'].value_counts().nlargest(119).index)
top_sub = melb_df['Suburb'].apply(lambda x: x if x in top else 'other')
melb_df['Suburb'] = top_sub.astype('category')
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  int64
 24  Weekend        13580 non-null  int64
 25  StreetType     13580 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(10), object(9)
memory usage: 2.7+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  int64
 24  Weekend        13580 non-null  int64
 25  StreetType     13580 non-null  object
dtypes: category(1), datetime64[ns](1), float64(6), int64(10), object(8)
memory usage: 2.6+ MB

In [50]:
# 6.1

bikes = pd.read_csv('data/citibike-tripdata.csv', sep = ',')
display(bikes['gender'].value_counts(normalize=True))
bikes[bikes['gender'] == 1]['gender'].count()

1    0.611940
2    0.248353
0    0.139707
Name: gender, dtype: float64

183582

In [51]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [52]:
# 6.2

bikes['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
 Liberty Light Rail               1
Name: end station name, Length: 765, dtype: int64

In [53]:
# 6.8

bikes.drop(['start station id', 'end station id'], axis=1, inplace = True)

<bound method DataFrame.info of                        starttime                  stoptime  \
0       2018-09-01 00:00:05.2690  2018-09-01 00:27:20.6340
1       2018-09-01 00:00:11.2810  2018-09-01 00:02:23.4810
2       2018-09-01 00:00:20.6490  2018-09-01 00:55:58.5470
3       2018-09-01 00:00:21.7460  2018-09-01 00:07:38.5830
4       2018-09-01 00:00:27.3150  2018-09-01 02:21:25.3080
...                          ...                       ...
299995  2018-09-05 19:08:27.8460  2018-09-05 19:15:51.4940
299996  2018-09-05 19:08:28.3700  2018-09-05 19:20:01.5080
299997  2018-09-05 19:08:27.5090  2018-09-05 19:13:40.5060
299998  2018-09-05 19:08:29.2300  2018-09-05 20:04:29.3220
299999  2018-09-05 19:08:29.7110  2018-09-05 19:12:14.7620

                     start station name  start station latitude  \
0          MacDougal St & Washington Sq               40.732264
1       Cadman Plaza West & Montague St               40.693830
2                       1 Ave & E 62 St               40.761227
3               St James Pl & Oliver St               40.713079
4                       W 13 St & 6 Ave               40.736494
...                                 ...                     ...
299995                  W 26 St & 8 Ave               40.747348
299996                Kent Ave & N 7 St               40.720368
299997        Gansevoort St & Hudson St               40.739448
299998                  W 11 St & 6 Ave               40.735324
299999                 1 Ave & E 110 St               40.792327

        start station longitude            end station name  \
0                    -73.998522    Clinton Ave & Myrtle Ave
1                    -73.990539  Schermerhorn St & Court St
2                    -73.960940             Smith St & 3 St
3                    -73.998512         Park Pl & Church St
4                    -73.997044            W 4 St & 7 Ave S
...                         ...                         ...
299995               -73.997236            W 37 St & 10 Ave
299996               -73.961651   Graham Ave & Conselyea St
299997               -74.005070             W 18 St & 6 Ave
299998               -73.998004          Broadway & W 60 St
299999               -73.938300    Lexington Ave & E 111 St

        end station latitude  end station longitude  bikeid    usertype  \
0                  40.693261             -73.968896   25577  Subscriber
1                  40.691029             -73.991834   34377  Subscriber
2                  40.678724             -73.995991   30496  Subscriber
3                  40.713342             -74.009355   28866  Subscriber
4                  40.734011             -74.002939   20943    Customer
...                      ...                    ...     ...         ...
299995             40.756604             -73.997901   19531  Subscriber
299996             40.715143             -73.944507   34020  Subscriber
299997             40.739713             -73.994564   33220  Subscriber
299998             40.769155             -73.981918   34744  Subscriber
299999             40.795412             -73.944123   18292  Subscriber

        birth year  gender
0             1980       1
1             1969       0
2             1975       1
3             1984       2
4             1994       1
...            ...     ...
299995        1990       2
299996        1982       1
299997        1991       1
299998        1975       0
299999        1966       1

[300000 rows x 12 columns]>

In [55]:
len(bikes.columns) 

# print(data.shape[1])

12

In [65]:
# 6.9

bikes['birth year']
bikes['age'] = 2018 - bikes['birth year']
len(bikes[bikes['age'] > 60]['age'])

# print(data[data['age'] > 60].shape[0])

11837

In [84]:
# 6.10

bikes['starttime'] = pd.to_datetime(bikes['starttime'], dayfirst=True)
bikes['stoptime'] = pd.to_datetime(bikes['stoptime'], dayfirst=True)
bikes['trip duration'] = bikes['stoptime'].dt.minute - bikes['starttime'].dt.minute
bikes['trip duration'][3]

# data.loc[3, 'trip duration']

7

In [132]:
# 6.11

for_weekend = bikes['starttime'].dt.day_of_week
bikes['weekend'] = for_weekend.apply(lambda x: 1 if x == 5 or x == 6 else 0)
bikes['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

In [153]:
# 6.12

for_time_day = bikes['starttime'].dt.hour

def func_day_time (time):
    if time in range(0, 7):
        return 'night'
    elif time in range(7, 13):
        return 'morning'
    elif time in range(13, 19):
        return 'day'
    elif time in range(19, 24):
        return 'evening'

bikes['time_of_day'] = for_time_day.apply(func_day_time)
round(bikes[bikes['time_of_day'] == 'day'].count()[0] / bikes[bikes['time_of_day'] == 'night'].count()[0])

9