In [1]:
# 2.4

import pandas as pd

def create_medications(names, counts):
    medications = pd.Series(data = counts, index = names)
    return medications

def get_percent(medications, name):
    a = 0
    for b in medications:
        a+=b
    percent = medications.loc[name]
    result = percent / a * 100
    return result

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

37.5

In [14]:
# 3.5

import pandas as pd

def create_companyDF(incomes, expenses, years):
    result = pd.DataFrame({'incomes':incomes, 'expenses': expenses}, index = [years])
    return result

incomes = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
create_companyDF(incomes, expenses, years)

      incomes  expenses
2018      478       156
2019      512       130
2020      196       270

In [27]:
# 6.3

melb_data = pd.read_csv('data/melb_data.csv', sep=',', decimal='.')
melb_data['CouncilArea'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 13580 entries, 0 to 13579
Series name: CouncilArea
Non-Null Count  Dtype
--------------  -----
12211 non-null  object
dtypes: object(1)
memory usage: 106.2+ KB

In [3]:
# 6.5

melb_data = pd.read_csv('data/melb_new.csv', sep=';', decimal='.')
round(melb_data.describe(), 1)

,Unnamed: 0,index,Rooms,Price,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.0,13580.0,13580.0,13580.0,13580.0,13580.0,13580.0,13580.0,13580.0,13580.0,13580.0,13580.0,13580.0,13580.0,13580.0
mean,6789.5,6789.5,2.9,1075684.1,10.1,3105.3,2.9,1.5,1.6,558.4,139.6,1966.8,-37.8,145.0,7454.4
std,3920.4,3920.4,1.0,639310.7,5.9,90.7,1.0,0.7,1.0,3990.7,392.2,29.1,0.1,0.1,4378.6
min,0.0,0.0,1.0,85000.0,0.0,3000.0,0.0,0.0,0.0,0.0,0.0,1196.0,-38.2,144.4,249.0
25%,3394.8,3394.8,2.0,650000.0,6.1,3044.0,2.0,1.0,1.0,177.0,122.0,1960.0,-37.9,144.9,4380.0
50%,6789.5,6789.5,3.0,903000.0,9.2,3084.0,3.0,1.0,2.0,440.0,126.0,1970.0,-37.8,145.0,6555.0
75%,10184.2,10184.2,3.0,1330000.0,13.0,3148.0,3.0,2.0,2.0,651.0,129.9,1975.0,-37.8,145.1,10331.0
max,13579.0,13579.0,10.0,9000000.0,48.1,3977.0,20.0,8.0,10.0,433014.0,44515.0,2018.0,-37.4,145.5,21650.0

In [16]:
# 6.8

melb_data['Regionname'].value_counts()

Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

In [40]:
# 7.1

print(melb_data['Landsize'].std())
print(melb_data['Price'].std())

3990.6692411090316
639310.724296018

0.9023592033763547

In [44]:
# 7.5 + 7.6

lst = [1, 2, 4, 2, 3, 2, 1, 5, 6]
new = pd.Series(lst)
new.mode()

melb_data['Bedroom'].mode()

0    3
Name: Bedroom, dtype: int64

In [54]:
# Создание маски

mask = melb_data['Price'] > 2000000
display(mask)
display(melb_data[mask].head())
melb_data[melb_data['Price'] > 2000000].head()

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578     True
13579    False
Name: Price, Length: 13580, dtype: bool

,Unnamed: 0,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,...,0,211.0,198.0,1890,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,...,1,153.0,180.0,1880,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,...,1,199.0,107.0,1900,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,...,1,177.0,181.0,1880,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,...,1,237.0,126.0,1970,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280,"-37.8436, 144.9557"

,Unnamed: 0,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,...,0,211.0,198.0,1890,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,...,1,153.0,180.0,1880,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,...,1,199.0,107.0,1900,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,...,1,177.0,181.0,1880,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,...,1,237.0,126.0,1970,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280,"-37.8436, 144.9557"

In [58]:
melb_data[melb_data['Rooms'] == 3].shape[0]
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]

3

In [35]:
# 8...

melb_data[melb_data['Bathroom'] == 0].shape[0]
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()
round(melb_data[((melb_data['Rooms'] > 5) ^ (melb_data['YearBuilt'] > 2015)) & (melb_data['Price'] < 1000000)]['Price'].mean())
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

In [9]:
# Итоги

import pandas as pd

exam = pd.read_csv('data/students_performance.csv', sep=',')
exam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [18]:
# 9.3

exam.iloc[155]['writing score']

88

In [35]:
# 9.4

exam.describe(include = 'object').count(axis=1)

count     5
unique    5
top       5
freq      5
dtype: int64

In [37]:
# 9.7

exam['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [51]:
# 9.8 + 9.9

round(exam[exam['test preparation course'] == 'completed']['reading score'].mean())
exam[exam['math score'] == 0].shape[0]

1

In [57]:
# 9.10

def lunch_test():
    st = exam[exam['lunch'] == 'standard']['math score'].mean()
    red = exam[exam['lunch'] == 'free/reduced']['math score'].mean()
    if red > st:
        return True, round(red)
    else:
        return False, round(st)

lunch_test()

(False, 70)

In [62]:
# 9.11

round(exam['parental level of education'].value_counts(normalize=True)["bachelor's degree"] * 100)

12

In [65]:
# 9.12

group_A = exam[exam['race/ethnicity'] == 'group A']['writing score'].quantile(0.5)
group_C = exam[exam['race/ethnicity'] == 'group C']['writing score'].quantile(0.5)
abs(group_A - group_C)

6.0

In [69]:
import matplotlib
exam.plot(kind='bar')

ModuleNotFoundError: No module named 'matplotlib'