In [2]:
import pandas as pd
import numpy as np
print(pd.__name__)

pandas

In [3]:
countries = pd.Series( 
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries')
print(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [9]:
countries = pd.Series({'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries')
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [18]:
countries.loc[['CA', 'RU']]
countries.iloc[0:6]

UK      Англия
CA      Канада
US         США
RU      Россия
UA     Украина
BY    Беларусь
Name: countries, dtype: object

In [4]:
countries_df = pd.DataFrame({ 'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]})
countries_df

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [23]:
countries_df = pd.DataFrame(data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
        ],
        columns = ['country', 'population', 'square'],
        index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'])
countries_df

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [24]:
print(countries_df.mean(axis = 1))
print()
print(countries_df.mean(axis = 0))

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

population    9.070000e+01
square        5.800860e+06
dtype: float64

C:\Users\qwert\AppData\Local\Temp\ipykernel_14380\3403426594.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(countries_df.mean(axis = 1))
C:\Users\qwert\AppData\Local\Temp\ipykernel_14380\3403426594.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(countries_df.mean(axis = 0))

In [32]:
countries_df.population
countries_df['population']
countries_df.loc[['US', 'RU'], ['country', 'population', 'square']]

   country  population    square
US     США      322.28   9826630
RU  Россия      146.24  17125191

In [3]:
countries = pd.DataFrame({'country':['Russia', 'Belarus', 'Ukraine', 'Kazakhstan'], 'population': [145, 34, 57, 98]}, index = ['RU', 'BL', 'UK', 'KZ'])
countries

       country  population
RU      Russia         145
BL     Belarus          34
UK     Ukraine          57
KZ  Kazakhstan          98