In [1]:
import pandas as pd
import numpy as np

In [2]:
def stand(a):
    a = str(a)
    a = a.replace(' ', '')
    a = a.replace('.', '')
    a = a.replace(',', '')
    a = a.lower()
    return a

In [3]:
data = pd.read_csv('data/cases.csv')
data['Тест'] = data['Компания'].apply(stand)
data = data.drop_duplicates()
data['Длинна'] = data['Тест'].apply(len)
data = data.sort_values('Длинна', axis=0, ascending=True, ignore_index=True)
data

,Компания,Тест,Длинна
0,3М,3м,2
1,WD,wd,2
2,SMH,smh,3
3,ABB,abb,3
4,KVX,kvx,3
...,...,...,...
721,NEUERO Industrietechnik\r\nfur Forderanlagen GmbH,neueroindustrietechnik\r\nfurforderanlagengmbh,44
722,THYSSENKRUPP UHDE CHLORINE ENGINEERS (ITALIA) ...,thyssenkruppuhdechlorineengineers(italia)sri,44
723,BAUSCH+STROBEL MASCHINENFABRIK ILSHOFEN GMBH+COKG,bausch+strobelmaschinenfabrikilshofengmbh+cokg,46
724,ОАО «Витебский завод электроизмерительных приб...,оао«витебскийзаводэлектроизмерительныхприборов»,47
725,Innovative Industries Northwest Inc. (бывш. St...,innovativeindustriesnorthwestinc(бывшstewartin...,58

In [4]:
empty_list = []
copy_data = data.copy()
for st in data['Тест']:
    st = str(st)
    copy_data = data[data['Тест'] != st]
    if copy_data['Тест'].str.contains(st).any():
        empty_list.append(st)
empty_list

C:\Users\qwert\AppData\Local\Temp\ipykernel_25368\4282035148.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  if copy_data['Тест'].str.contains(st).any():

['mag',
 'ams',
 'mtg',
 'tdk',
 'rtk',
 'dow',
 'tia',
 'vega',
 'amph',
 'tego',
 'alpe',
 'mapa',
 'power',
 'camoz',
 'kroms',
 'ippon',
 'intel',
 'fuchs',
 'merck',
 'mobil',
 'metso',
 'parker',
 'lintec',
 'merkel',
 'murata',
 'quaker',
 'basell',
 'mettler',
 'lincoln',
 'danfoss',
 'dornier',
 'microchip',
 'pgphotonics',
 'semiconductors',
 'schneiderelectric']

In [5]:
copy_2 = data.copy()
for delete in empty_list:
    copy_2 = copy_2[copy_2['Тест'] != delete]
data = copy_2.copy()
data.shape

(691, 3)

In [6]:
duplicates_list = pd.DataFrame(data=empty_list, columns=['ПРЕДПОЛОЖИТЕЛЬНЫЕ ДУБЛИКАТЫ'])
duplicates_list.to_excel(excel_writer='duplicates_list.xlsx')
clean_list = pd.DataFrame(data=data['Компания'])
clean_list.to_excel(excel_writer='clean_list.xlsx')